h1{
text-align: center;
font-family: 'Noto Sans', sans-serif;
font-size: 90px;
/*margin:15px 0 25px 0;*/
margin: 0 0 0 0;
}

h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

ul{
    list-style-type:disc;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

hr{
    width: 90%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.75),
     rgba(0, 0, 150, 0.75), rgba(0,0,0,0.75));
     
}

.sectionflex{
    display: flex;
    flex-direction: row;
}
.sectionflexcolumn{
    display: flex;
    flex-direction: column;
}

.circular_square{
    border-radius: 50%;
}
#foto_perfil{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    align-self: center;
    border-style:double;
    border-width: 5px;
}

#principal{
    width: 70%;
    margin: 0 20px 0 25px;
    
}

/*#principal>div{
    padding-left: 20px;
}*/

#principal>div>p{
    margin: 10px 0 10px 0;
}

#nombre{
    background-color:white;
    height:auto;
    width: 900px;
    align-self: center;
}


#contacto{
    background-color: grey;
    width: 30%;
    height: auto;
}

#contacto>div>h2{
    padding-left: 25px;
}

#contacto_list>li{
    padding-left: 2rem;
    padding-bottom: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contacto>div>ul>li{
    margin: 0 0 10px 10px;
}

#telefono{
    background-image: url(https://cdn-icons-png.flaticon.com/512/657/657099.png);
    background-size: 1.4rem 1.5rem;
    background-repeat: no-repeat;
    background-position: 0 0;
}

#email{
    background-image: url(https://cdn-icons-png.flaticon.com/512/3447/3447672.png);
    background-size: 1.4rem 1.5rem;
    background-repeat: no-repeat;
    background-position: 0 0;
}

#direccion{
    background-image: url(https://cdn-icons-png.flaticon.com/512/67/67347.png?w=740&t=st=1675057184~exp=1675057784~hmac=3eff3710f859745d6838a3818cf8ba2424b99a69364a7f434f9575f49de67a97);
    background-size: 1.4rem 1.5rem;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.dark-mode{
    background-color: rgb(56, 56, 56);
}

.dark-mode h1, .dark-mode h2, .dark-mode p, .dark-mode ul{
    color: white;
    background-color: rgb(56, 56, 56);
}

.dark-mode #contacto{
    background-color: black;
}

.dark-mode #contacto>div, .dark-mode #contacto>ul, .dark-mode #contacto>li{
    color:white;
    background-color: black;
}
